.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  background: linear-gradient(97.47deg,rgba(234,128,252,.67) 13.65%,rgba(234,128,252,0) 97.25%),#0042c6;
  width: 100vw;
  height: 100vh;
  margin: -8px;
}

.bg {
  background-color: rgba(255,255,255,0.2);
}

.navbar li a {
  color: #fff;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 20px;
}